@keyframes form-loading
  from { transform: rotate(360deg) }
  to   { transform: rotate(0deg) }

.retriever
  $btn-width = 60px
  $height = 40px
  $radius = $height / 2

  padding 20px

  form
    border-radius $radius
    box-shadow 0 8px 16px alpha(black, 0.15)
    margin-bottom 10px
    overflow hidden

    position relative

  input
    background alpha(black, 0.4)
    color #eee
    font inherit
    padding-left $radius
    padding-right $btn-width
    transition background, color, padding-right
    transition-duration 200ms

    width 100%
    height $height

    &.empty:not(:focus)
      padding-right $radius

      & + button
        opacity 0.25

    &:focus
      background white
      color #333
      padding-right 10px + $btn-width

      & + button
        background dodgerblue

  button
    background transparent
    border-radius $radius 0 0 $radius
    color white
    transition background, color, opacity
    transition-duration 200ms

    width $btn-width
    height $height

    position absolute
    top 0
    right 0

    &.loading i
      animation 1.5s linear 0s infinite form-loading

  div.error
    color tomato
    padding 10px 10px 0
