$height: 36px;
$radius: $height / 4;
$padding: $radius * 2;

$bg-color: #efefef;
$color: #323232;
$color-white: #efefef;
$gradient: linear-gradient(transparent, rgba(black, 0.1));
$darkness: linear-gradient(rgba(black, 0.1), rgba(black, 0.1));
$border: 1px solid rgba(black, 0.1);
$shadow: 0 4px 8px rgba(black, 0.1);
// $shadow: none;
