$panel-width = 350px

@media (min-width: (400px + $panel-width))
  .app
    margin 0

    width $panel-width

    .renderer
      background alpha(black, 0.15)

      position absolute
      left 100%

      width 'calc(100vw - %s)' % $panel-width
      height 100%

      button
        display none

      &--wrapper
        background none

        position static
