html
  head
    title SkinEx

    meta(name="viewport", content="width=device-width, user-scalable=no")
    meta(charset="utf-8")

    meta(property="og:locale", content="en_US")
    meta(property="og:image", content="https://keupoz.github.io/SkinEx/assets/icon/DaringDo_Background.png")
    meta(property="og:title", content="SkinEx - Mine Little Pony skins editor")
    meta(property="og:description", content="Edit your skins directly in browser and see changes on 3D model")
    meta(name="description", content="Edit your skins directly in browser and see changes on 3D model")

    meta(name="theme-color", content="#333")
    link(rel="manifest", href="assets/manifest.json")
    link(rel="icon", href="assets/icon/DaringDo-32.png")

    link(rel="stylesheet", href="index.css")

  body
    #app
    script(src="app.js")
